.hero .hero-img,
.bottom-hero .hero-img {
    height: 400px;
    width: 100%;
}

.hero .hero-img {
    background: url(../img/hero-mobile.jpg) no-repeat;
    background-size: cover;
}

.bottom-hero .hero-img {
    background: url(../img/bg-bottom-hero-mobile.png) no-repeat;
    background-size: cover;
}

.hero h2 {
    padding: 0px 24px;
    margin-bottom: 88px;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

/* PACOTES DE VIAGENS */
.package-hero {
    width: 100%;
    margin-bottom: 88px;
}

.package-bottom-hero {
    width: 100%;
    margin: 0;
}

.package-hero .hero-img {
    height: 460px;
    background: url(../img/pacote-de-viagens/japan-bg-hero-tablet.png) no-repeat;
    background-size: cover;
}

.package-bottom-hero .hero-img {
    height: 460px;
    background: url(../img/pacote-de-viagens/japan-bg-bottom-hero-mobile.png) no-repeat;
    background-size: cover;
}

.package-hero .hero-content {
    padding: 65px 24px;
}

.package-hero .hero-content h1 {
    font-size: 48px;
    color: var(--text-secondary-color);
    font-weight: var(--title-weight);
}

.package-hero .hero-content hr {
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px 0 32px;
}

.package-hero .hero-content p {
    font-size: 20px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
    line-height: 32px;
}

/* BLOG */
.blog-hero {
    width: 100%;
    margin-bottom: 88px;
}

.blog-hero .hero-img {
    height: 460px;
    background: url(../img/blog/hero-blog-mobile.png) no-repeat;
    background-size: cover;
}

.blog-hero .hero-content {
    padding: 65px 24px;
}

.blog-hero .hero-content h1 {
    font-size: 48px;
    color: var(--text-secondary-color);
    font-weight: var(--title-weight);
}

.blog-hero .hero-content hr {
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px 0 32px;
}

.blog-hero .hero-content p {
    font-size: 20px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
    line-height: 32px;
}

@media screen and (min-width: 768px) {
    .hero .hero-img {
        height: 620px;
        background: url(../img/hero-tablet.jpg) no-repeat;
        background-size: cover;
    }

    .bottom-hero .hero-img {
        height: 600px;
        background: url(../img/bg-bottom-hero-tablet.png) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        padding: 0 60px;
        font-size: 32px;
    }

    /* PACOTES DE VIAGENS */
    .package-hero .hero-content {
        padding: 50px 60px;
    }

    .package-hero .hero-img {
        height: 620px;
        background: url(../img/pacote-de-viagens/japan-bg-hero-tablet.png) no-repeat;
        background-size: cover;
    }

    .package-hero .hero-content p {
        width: 579px;
        font-size: 32px;
        line-height: 40px;
    }

    .package-bottom-hero .hero-img {
        background: url(../img/pacote-de-viagens/japan-bg-bottom-hero-tablet.png) no-repeat;
        background-size: cover;
    }

    /* BLOG */
    .blog-hero .hero-content {
        padding: 50px 60px;
    }

    .blog-hero .hero-img {
        height: 620px;
        background: url(../img/blog/hero-blog-tablet.png) no-repeat;
        background-size: cover;
    }

    .blog-hero .hero-content p {
        width: 579px;
        font-size: 32px;
        line-height: 40px;
    }

}

@media screen and (min-width: 1024px) {
    .hero .hero-img {
        background: url(../img/hero_desktop.jpg) no-repeat;
        background-size: cover;
    }

    .bottom-hero .hero-img {
        background: url(../img/bg-bottom-hero-desktop.png) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        padding: 88px 120px;
    }

    /* PACOTES DE VIAGENS */
    .package-hero .hero-content {
        padding: 50px 62px;
    }

    .package-hero .hero-img {
        background: url(../img/pacote-de-viagens/japan-bg-hero-desktop.png) no-repeat;
        background-size: cover;
    }

    .package-bottom-hero .hero-img {
        height: 600px;
        background: url(../img/pacote-de-viagens/japan-bg-bottom-hero-desktop.png) no-repeat;
        background-size: cover;
    }

    /* BLOG */
    .blog-hero .hero-content {
        padding: 50px 62px;
    }

    .blog-hero .hero-img {
        background: url(../img/blog/hero-blog-desktop.png) no-repeat;
        background-size: cover;
    }

}

@media screen and (min-width: 1440px) {

    /* PACOTES DE VIAGENS */
    .package-hero .hero-content {
        padding: 80px 120px;
    }

    /* BLOG */
    .blog-hero .hero-content {
        padding: 80px 120px;
    }
}

@media screen and (min-width: 1920px) {
    .hero h2 {
        padding: 88px 160px;
    }

    /* PACOTES DE VIAGENS */
    .package-hero .hero-content {
        padding: 120px 360px;
    }

    /* BLOG */
    .blog-hero .hero-content {
        padding: 120px 360px;
    }
}